{% extends 'base2.html' %}
{% block headtitle %} Invoice {% endblock %}
{% load staticfiles %}


    {% include 'sidebar.html' %}


          {% include 'header.html' %}

          {% block maincontent %}
 <!-- page content -->
 <div class="right_col" role="main">
        <div class="">
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Invoice Design </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                      <div class="col-xs-12 invoice-header">
                        <h1>
                                        <i class="fa fa-globe"></i> Invoice.
                                        <small class="pull-right">Date: {{ mstOrder.date_ordered }}</small>
                                    </h1>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                      <div class="col-sm-4 invoice-col">
                        From
                        <address>
                                        <strong>{{ company.business_name}}</strong>
                                        <br>Location
                                        <br>{{ company.website }}
                                        <br>Phone: {{ company.contact }}
                                        <br>Email: {{ company.email }}
                                    </address>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 invoice-col">
                        To
                        <address>
                                        <strong>{{ mstOrder.customer.cust_name }}</strong>
                                        <br>Registered From: {{ mstOrder.customer.registered_from }}

                                        <br>Phone: {{ mstOrder.customer.contact }}
                                        <br>Secondary Contact: {{ mstOrder.customer.secondary_contact }}
                                    </address>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 invoice-col">
                        <b>Invoice #007612</b>
                        <br>
                        <br>
                        <b>Order ID:</b> {{ mstOrder.orderNo }}
                        <br>
                        <b>Payment Due:</b> {{ mstOrder.delivery_date }}
                        <br>
                        <b>Payment mode:</b> {{ mstOrder.orderNo }}
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Table row -->
                    <div class="row">
                      <div class="col-xs-12 table">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Qty</th>
                              <th>Product</th>
                              <th style="width: 59%">Description</th>
                              <th>Sell Price</th>
                              <th>Subtotal</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for order in orderdtl %}
                            <tr>
                              <td>{{ order.quantity }}</td>
                              <td>{{ order.product.title }}</td>
                              <td>{{ order.details }}
                              </td>
                              <td>{{ order.product.sale_price }}</td>

                            </tr>
                            <tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                      <!-- accepted payments column -->
                      <div class="col-xs-6">
                        <p class="lead">Payment Methods:</p>
                        <img src="{% static 'production/images/visa.png' %}" alt="Cash">

                        <img src="{% static 'media/img/mpesa.jpeg' %}" alt="Mpesa">
                        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                          Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                        </p>
                      </div>
                      <!-- /.col -->
                      <div class="col-xs-6">
                        <p class="lead">Amount Due {{ mstOrder.total_amount }}</p>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>{{ mstOrder.total_amount }}</td>
                              </tr>
                              <tr>
                                <th>Discount:</th>
                                <td>{{ mstOrder.discount }}</td>
                              </tr>
                              <tr>
                                <th>Delivery:</th>
                                <td>{{ delivery.delivery_fee }}</td>
                              </tr>
                              <tr>
                                <th>Total:</th>
                                <td>Kshs.{{ mstOrder.total_amount }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                      <div class="col-xs-12">
                        <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                        <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
                        <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
      {% endblock %}