{% load staticfiles %}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
 
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title">SmartBiz</a>
        </div>
 
        <div class="profile"><!--img_2 -->
            <div class="profile_pic">
                <img src="{% static 'production/images/user.png' %}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                    {% if user.is_authenticated %}
                    <span>Welcome,</span>
                    <h2>{{ user.username }}!</h2>
                  {% else %}
                    <p>Username <a href="{% url 'account_login' %}">login</a> </p>
                    
                  {% endif %}
                
            </div>
        </div>
 
        <br>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
 
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="{% url 'customers' %}"><i class="fa fa-home"></i> Home </a>
                        
                    </li>
                    <li><a><i class="fa fa-edit"></i> Products <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'products' %}">All Products</a></li>
                            <li><a href="{% url 'collections' %}">Product Collections</a></li>
                            
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> Customers <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'customers' %}">All Customers</a></li>
                            <li><a href="{% url 'customer-new' %}">Register Customers</a></li>
                            <li><a href="{% url 'creditors' %}">Creditors</a></li>
                            
                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i> Orders <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'orders' %}">All orders</a></li>
                            <li><a href="{% url 'order-new' %}">Register Order</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-bar-chart-o"></i> Finances <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'expenses' %}">Expenses</a></li>
                            <li><a href="{% url 'revenue' %}">Revenue</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-bug"></i> Social media marketing <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="e_commerce.html"> Facebook </a></li>
                            <li><a href="e_commerce_backend.html">Instagram</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            
 
                        </ul>
                    </li>
                    
                    
                </ul>
            </div>
 
        </div>
 
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>