{% extends 'base2.html' %}

{% load staticfiles %}


    {% include 'sidebar.html' %}


          {% include 'header.html' %}

 {% block maincontent %} 
 <!-- page content -->
 <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>All Products</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                      <ul class="pagination pagination-split">
                        {% include 'pagination.html' %}
                      </ul>
                    </div>

                    <div class="clearfix"></div>
                    {% for product in products %}
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                          
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Collection: {{ product.collection}}</i></h4>
                          <div class="left col-xs-7">
                            <h2>{{ product.title }}</h2>
                            <p><strong>Description: </strong>{{ product.description }} </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Buying Price: {{ product.buying_price }} </li>
                              <li><i class="fa fa-phone"></i> Selling Price: {{ product.sale_price }}</li>
                            </ul>
                          </div>
<!--                          <div class="right col-xs-5 text-center">-->
<!--                            <img src="{{ images.image.url }}" alt="" class="img-circle img-responsive">-->
<!--                          </div>-->
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          
                          <div class="col-xs-12 col-sm-6 emphasis">
                            
                            
                              <a href="{% url 'product-detail' product.id %}"> View Profile </a>
                            
                          </div>
                        </div>
                      </div>

                      
                    </div>
                    {% endfor %}
                   

                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
 {% endblock %}