{% extends 'base2.html' %}

{% load staticfiles %}


    {% include 'sidebar.html' %}


          {% include 'header.html' %}

          {% block maincontent %}
<!-- page content -->
<div class="right_col" role="main">
        <div class="">


          <div class="row">



            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Payment <small>Transactions</small></h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">
                      <a href="{% url 'income_new' %}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Register Payment</a>
                  </p>

                  <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                          <th>#</th>
                        <th>OrderNo</th>
                        <th>Date Paid</th>
                        <th>Collected Amount</th>
                        <th>Payment Mode</th>
                        <th>Staff</th>
                          <th>Description</th>

                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for rev in revenues %}
                      <tr>
                          <td>{{ rev.id }}</td>
                        <td>{{ rev.mstOrder }}</td>
                        <td>{{ rev.pay_date }}</td>
                        <td>{{ rev.amount_collected }}</td>
                        <td>{{ rev.payment_mode }}</td>
                        <td>{{ rev.collected_by }}</td>
                          <td>{{ rev.description }}</td>

                        <td>
                            <a href="{% url 'income_edit' rev.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
<!--  <a href="#myModal" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>-->

                            <a class="delete_link btn btn-danger btn-xs" href="{% url 'income_delete' rev.id %}" ><i class="fa fa-trash"></i> Delete </a>
                        </td>
                     </tr>
                      {% endfor %}

                    </tbody>
                  </table>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% block scriptfiles %}
      <script>
        $(".delete_link").click(function(){
        return confirm("Are you sure?")
        });
    </script>
<script src="{% static '/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>


{% endblock %}

      <!-- /page content -->
{% endblock %}